@tailwind base;
@tailwind components;
@tailwind utilities;

#added-color::-webkit-scrollbar { 
    display: none;
    scrollbar-width: none;
}

svg {
    pointer-events: none;
}
.card {
    color: #1c1917;
    transform: scale(1);
    transition: transform 0.3s, color 0.5s;
}
.card:active {
    color: #b9b4b0;
}
.btn {
    transform: scale(1);
    transition: transform 0.5s;
}
.btn:active {
    color: #BDD2B6;
    background-color: #78716c;
}

/* Display-ColorValues */
#input-text-hex {
    display: block;
    width: 100%;
    margin: 0;
    padding-top: 2px;
}
#input-text-rgb {
    display: none;
    width: 100%;
    margin: 0;
    padding-top: 2px;
}

#input-text-hsl {
    display: none;
    margin: 0;
    width: 100%;
    padding-top: 2px;
}
#color-searchbar {
    display: none;
}

@media screen and (min-width: 768px) {
    #input-text-rgb{
        display: block;
    }
    #input-text-hsl{
        display: block;
    }
    #color-searchbar {
        display: block;
    }
}
@media screen and (min-width: 1024px) {
    #input-text-rgb{
        display: block;
        width: 100%;
        margin: 0 0 0 5px;
        padding-top: 2px;
    }
    #input-text-hsl{
        display: block;
        width: 100%;
        margin: 0 0 0 5px;
        padding-top: 2px;
    }
    #color-searchbar {
        display: block;
    }
    #color-searchbar:focus-visible{
        outline: solid 4px #78716c;
        transition: outline 0.3s;
    }
}

@media (hover: hover) and (pointer: fine){
    .card:hover {
        transform: scale(1.2);
        color: #b9b4b0;
        transition: transform 0.3s, color 0.3s;
    }
    .btn:hover {
        transform: scale(1.1);
        color: #b9b4b0;
        background-color: #78716c;
        transition: transform 0.5s, color 0.3s;
    }
    .btn:hover svg:not(.svg-refresh) {
        fill: #b9b4b0;
        transition: fill 0.5s;
    }
}

/* SearchBar Component */
.searchbar{
    display: none;
    height: 119vh;
    width: 100vw;
}
#value-input-hex {
    display: block;
}
#value-input-rgb {
    display: none;
}
#value-input-hsl {
    display: none;
}
@media screen and (min-width: 768px) {
    #value-input-hex {
        display: block;
    }
    #value-input-rgb {
        display: block;
    }
    #value-input-hsl {
        display: block;
    }   
}
@media screen and (min-width: 1024px) {
    #value-input-hex {
        display: block;
    }
    #value-input-rgb {
        display: block;
    }
    #value-input-hsl {
        display: block;
    }   
}

/* Color and Recent */

.favourite-card {
    display: block;
}

.recent-card {
    display: none;
}
#recentBtn {
    z-index: 0;
    position: relative;
}
#favouriteBtn {
    z-index: 0;
    position: inherit;
}

/* Footer */
.contact-btn:active {
    color: #57534e;
}
@media (hover: hover) and (pointer: fine){
    .contact-btn {
        transition: transform 0.5s, color 0.3s;
    }
    .contact-btn:hover{
        transform: translateY(-5px);
    }
}